<!-- templates/login.html -->
{% extends 'base.html' %}


{% block content %}
    <div class="login-background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>

    <div class = 'login-form'>
        <h3><i class="bi bi-box-arrow-in-right"></i> Login Here</h3>

            <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
                <button class = 'loginbut' type="submit">Login</button>

            </form>
    </div>
{% endblock content %}