/* static/css/base.css */
head{
    text-decoration: none;
}

header a{
    font-family: 'Kanit', sans-serif;
    text-decoration: none;
    color: white;
}


.blog{
    font-family: 'Kanit', sans-serif;
    
}


.navigation-bar ul{
    font-family: 'Kanit', sans-serif;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1b1b1b;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    margin-bottom: 2rem;
    
    
}

.navigation-bar li {
  float: left;
}

.navigation-bar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


.navigation-bar .active {
    background-color: #ecf8a3;
    color: black;
  }

.navigation-bar li a:hover:not(.active) {
  background-color: #111;
}


.login-form{
    height: 480px;
    width: 400px;
    background-color: rgba(255, 255, 255, 0.027);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid #ecf8a3;
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
}

.password-reset-form{
    height: 400px;
    width: 400px;
    background-color: rgba(255, 255, 255, 0.027);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid #ecf8a3;
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
    color: white;
    border: 2px solid #ecf8a3;
}

.password-reset-form .password-reset-form-button{
    margin-top: 10%;
    width: 100%;
    background-color: #ecf8a3;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

.password-reset-form h1{
    font-family: 'Kanit', sans-serif;
}

.signup-form{

    height: 90%;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.027);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 30px 35px;
    border: 2px solid #ecf8a3;
}

.signup-form label{
    color: white;
}

.signup-form input{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}

.password-change-form{

    height: 600px;
    width: 700px;
    background-color: rgba(255, 255, 255, 0.027);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
    
}

.container{
    
    display : flex ;
    flex-direction : column ;
    justify-content : center ;
    align-items : center ;
    height: 420px;
    width: 400px;
    background-color: #ecf8a3;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
}

.forum-login{
    background-color: black;
}

.login-form a{
    text-decoration: none;
    color: #111;
}

.signup-form *{
    font-family: 'Kanit', sans-serif;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
    
    
}

.login-form *{
    font-family: 'Kanit', sans-serif;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
    
    
}

.password-change-form *{
    font-family: 'Kanit', sans-serif;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}


.login-form h1{
    padding-bottom: 20px;
    
    line-height: 42px;
    color: white;
    text-align: center;
    
}




.signup-form h1{
    padding-bottom: 20px;
    font-size: 32px;
    line-height: 42px;
    text-align: center;
    color: white;
    font-family: 'Kanit', sans-serif;
}




.password-change-form h1{
    padding-bottom: 20px;
    font-size: 32px;
    line-height: 42px;
    text-align: center;
    
}

.loginbut{

    margin-top: 7%;
    width: 100%;
    background-color: #ecf8a3;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

.signupbut{
    margin-top: 20px;
    width: 100%;
    background-color: #ecf8a3;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

.home-background{
    background-color: #ecf8a3;
    width: 100%;
    height: 100%;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}

.login-form label{
    color: white;
}

.login-form input{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
    
}

.login-background{
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}



.login-background .shape{
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
}


.shape:first-child{
    background: linear-gradient(
        #1845ad,
        #23a2f6
    );
    left: -80px;
    top: -80px;
}
.shape:last-child{
    background: linear-gradient(
        to right,
        #ff512f,
        #f09819
    );
    right: -30px;
    bottom: -80px;
}


/* blog background */
body{
    margin-top: 60px;
    font-size: 18px;
    background-color: rgb(37,39,51);
    color: black;
    
    
}
/* blog cards */
.post-entry .blog-title-body{
    margin-top: 20px;
    width: 110%;
    height: 50%;
    background-color: #ecf8a3    ;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
    letter-spacing: 2px;
    margin-left: 10%;
    text-decoration: none;
    
    
    
}

.post-detail .blog-title-body-detail{
    margin-top: 20px;
    width: 80%;
    height: 50%;
    background-color: #ecf8a3    ;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
    letter-spacing: 2px;
    margin-left: 10%;
    text-decoration: none;
    
    
    
}

.comments p{
    margin-top: 20px;
    width: 80%;
    height: 50%;
    background-color: #ecf8a3    ;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
    letter-spacing: 2px;
    margin-left: 10%;
    text-decoration: none;
}

.blog-title-body-detail h2{
    margin-bottom: 5%;
    text-decoration: underline black;

}

.blog-title-body-detail h7{
    color: #1abc9c;
}

.post-new{
    
    height: 650px;
    width: 500px;
    background-color: rgba(255, 255, 255, 0.027);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid #ecf8a3;
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
}

.post-new input{
    display: block;
    height: 50px;
    width: 100%;
    background-color: white;
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}

.post-new label{
    color: white;
    padding-left: 70px;
}

.post-new select{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 20px;
    font-weight: 300;
}

.post-new h1{
    margin-bottom: 5%;
    text-align: center;
    color: white;
    font-family: 'Kanit', sans-serif;
}

.post-edit {
    
    height: 80%;
    width: 50%;
    background-color: rgba(255, 255, 255, 0.027);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid #ecf8a3;
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;

}

.edit-background{
    width: 100%;
    height: 100%;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    background-color: rgb(37,39,51);
}

.post-edit h1{
    margin-bottom: 5%;
    text-align: center;
    color: white;
    font-family: 'Kanit', sans-serif;
}

.post-edit .update-button{
    margin-top: 2%;
    width: 100%;
    background-color: #ecf8a3;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

.post-edit label{
    color: white;
}

.go-back-button{
    margin-left: 1%;
    width: 100%;
    background-color: #ecf8a3;
    color: #080710;
    padding: 15px 15px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}


.post-entry{
    
    margin-right: 30%;
    margin-left: 2%;
    
}
.post-entry h2{
    font-family: 'Kanit', sans-serif;
}
.post-entry a{
    font-family: 'Kanit', sans-serif;
    text-decoration: none;
    color: black;
}



.post-entry .blog-author{
    color: black;
    font-weight: bold;
    margin-top: 2%;
    margin-left: 70%;
    
}

 .post-entry .read-more{
    color: black;
    margin-top: 20%;
    width: 2px;
	height: 2px;
    border: 2px solid black;
    border-radius: 10px;
   
    padding: 5px 20px;
    border-radius: 10px;
    
    
    
} 

 .post-entry .read-more:hover{
    background-color: white;

} 




.post-entry .blog-title:after {
	display: block;
	position: absolute;
	left: 20; /*изменить на right:0;, чтобы изменить направление подчёркивания */
	width: 0;/*задаём длинну линии до наведения курсора*/
	height: 2px; /*задаём ширину линии*/
	background-color: black; /*задаём цвет линии*/
	content: "";
	transition: width 0.3s ease-out; 
}

    .post-entry a:hover:after,
    .post-entry a:focus:after {
        width: 40%; 
    }
    .post-entry .title{
        text-decoration: underline #1abc9c;

    }


.edit-post {
    
    margin-left: 60%;
    color: #1abc9c;
    text-decoration: none;
    
}

.delete-post{
    
    color: #1abc9c;
    text-decoration: none;
}

.login-form .forgot-password{
    color: white;
}



:root{
    /* color type A */
    --line_color : #555555 ;
    --back_color : white  ;

    /* color type B */
    /* --line_color : #1b1919 ;
    --back_color : #E9ECFF  ; */

    /* color type C */
    /* --line_color : #00135C ;
    --back_color : #DEFFFA  ; */
}

.button{
    position : relative ;
    z-index : 0 ;
    width : 240px ;
    height : 56px ;
    text-decoration : none ;
    font-size : 14px ; 
    font-weight : bold ;
    color : var(--line_color) ;
    letter-spacing : 2px ;
    transition : all .3s ease ;
}
.button__text{
    font-family: 'Kanit', sans-serif;
    display : flex ;
    font-size: 20px;
    color: black;
    justify-content : center ;
    align-items : center ;
    width : 100% ;
    height : 100% ;
}
.button::before,
.button::after,
.button__text::before,
.button__text::after{
    content : '' ;
    position : absolute ;
    height : 3px ;
    border-radius : 2px ;
    background : var(--line_color) ;
    transition : all .5s ease ;
}
.button::before{
    top : 0 ;
    left : 54px ;
    width : calc( 100% - 56px * 2 - 16px ) ;
}
.button::after{
    top : 0 ;
    right : 54px ;
    width : 8px ;
}
.button__text::before{
    bottom : 0 ;
    right : 54px ;
    width : calc( 100% - 56px * 2 - 16px ) ;
}
.button__text::after{
    bottom : 0 ;
    left : 54px ;
    width : 8px ;
}
.button__line{
    position : absolute ;
    top : 0 ;
    width : 56px ;
    height : 100% ;
    overflow : hidden ;
}
.button__line::before{
    content : '' ;
    position : absolute ;
    top : 0 ;
    width : 150% ;
    height : 100% ;
    box-sizing : border-box ;
    border-radius : 300px ;
    border : solid 3px var(--line_color) ;
}
.button__line:nth-child(1),
.button__line:nth-child(1)::before{
    left : 0 ;
}
.button__line:nth-child(2),
.button__line:nth-child(2)::before{
    right : 0 ;
}
.button:hover{
    letter-spacing : 6px ;
}
.button:hover::before,
.button:hover .button__text::before{
    width : 8px ;
}
.button:hover::after,
.button:hover .button__text::after{
    width : calc( 100% - 56px * 2 - 16px ) ;
}
.button__drow1,
.button__drow2{
    position : absolute ;
    z-index : -1 ;
    border-radius : 16px ;
    transform-origin : 16px 16px ;
}
.button__drow1{
    top : -16px ;
    left : 40px ;
    width : 32px ;
    height : 0;
    transform : rotate( 30deg ) ;
}
.button__drow2{
    top : 44px ;
    left : 77px ;
    width : 32px ;
    height : 0 ;
    transform : rotate(-127deg ) ;
}
.button__drow1::before,
.button__drow1::after,
.button__drow2::before,
.button__drow2::after{
    content : '' ;
    position : absolute ;
}
.button__drow1::before{
    bottom : 0 ;
    left : 0 ;
    width : 0 ;
    height : 32px ;
    border-radius : 16px ;
    transform-origin : 16px 16px ;
    transform : rotate( -60deg ) ;
}
.button__drow1::after{
    top : -10px ;
    left : 45px ;
    width : 0 ;
    height : 32px ;
    border-radius : 16px ;
    transform-origin : 16px 16px ;
    transform : rotate( 69deg ) ;
}
.button__drow2::before{
    bottom : 0 ;
    left : 0 ;
    width : 0 ;
    height : 32px ;
    border-radius : 16px ;
    transform-origin : 16px 16px ;
    transform : rotate( -146deg ) ;
}
.button__drow2::after{
    bottom : 26px ;
    left : -40px ;
    width : 0 ;
    height : 32px ;
    border-radius : 16px ;
    transform-origin : 16px 16px ;
    transform : rotate( -262deg ) ;
}
.button__drow1,
.button__drow1::before,
.button__drow1::after,
.button__drow2,
.button__drow2::before,
.button__drow2::after{
    background : var( --back_color ) ;
}
.button:hover .button__drow1{
    animation : drow1 ease-in .06s ;
    animation-fill-mode : forwards ;
}
.button:hover .button__drow1::before{
    animation : drow2 linear .08s .06s ;
    animation-fill-mode : forwards ;
}
.button:hover .button__drow1::after{
    animation : drow3 linear .03s .14s ;
    animation-fill-mode : forwards ;
}
.button:hover .button__drow2{
    animation : drow4 linear .06s .2s ;
    animation-fill-mode : forwards ;
}
.button:hover .button__drow2::before{
    animation : drow3 linear .03s .26s ;
    animation-fill-mode : forwards ;
}
.button:hover .button__drow2::after{
    animation : drow5 linear .06s .32s ;
    animation-fill-mode : forwards ;
}
@keyframes drow1{
    0%   { height : 0 ; }
    100% { height : 100px ; }
}
@keyframes drow2{
    0%   { width : 0 ; opacity : 0 ;}
    10%  { opacity : 0 ;}
    11%  { opacity : 1 ;}
    100% { width : 120px ; }
}
@keyframes drow3{
    0%   { width : 0 ; }
    100% { width : 80px ; }
}
@keyframes drow4{
    0%   { height : 0 ; }
    100% { height : 120px ; }
}
@keyframes drow5{
    0%   { width : 0 ; }
    100% { width : 124px ; }
}

.service-messages{
    color: white;
}

.comments{
    color: black;
}

.comments .font-weight-bold{
    color: #1abc9c;
    font-family: 'Kanit', sans-serif;
}