<!-- templates/blog_detail.html -->
{% extends 'base.html' %}

{% block content %}
    <div class = 'post-entry'>
        <h2 class = 'title'>{{ detail.title }}</h2>
        <p>Author: {{ detail.author }} Date: {{ detail.date }}</p>
        <p>{{ detail.body }}</p>
    </div>


    <a class = "edit-post" href="{% url 'blog_edit' detail.pk %}"><i class="bi bi-pencil-square"></i> Edit Blog Post</a>
    <a class = "delete-post" href="{% url 'blog_delete' detail.pk %}"><i class="bi bi-trash2"></i> Delete Blog Post</a>
{% endblock content %}