<!-- templates/home.html -->
{% extends 'base.html' %}

{% block fonts %}
{% endblock %}

{% block content %}
    <div class="home-background">
        <div class = 'shape'></div>
        <div class = 'shape'></div>
    </div>

    <TItle>Mainpage</TItle>

    <div class="container">

        <a href="{% url 'forum' %}" class="button">
          <div class="button__line"></div>
          <div class="button__line"></div>
          <span class="button__text">BLOG</span>
          <div class="button__drow1"></div>
          <div class="button__drow2"></div>
        </a>
      
      </div>

   
    
    
{% endblock %}