<!-- templates/mb.html -->
{% extends 'base.html' %}

{% block fonts %}
{% endblock %}

{% block content %}
    <TItle>Forum</TItle>
    
    
    
        
    
    
    <header>
        <div class = 'navigation-bar'>
            <ul>
                <li><a class = "blog" href="{% url 'forum' %}"><i class="bi bi-chat-fill"></i> Blog</a></li>
                <li style="float:right"><a class="active" href="{% url 'post_new' %}"><i class="bi bi-plus-square-fill"></i> New Blog Post</a></li>
                <li style="float:right"><a class = 'forum-login'href="{% url 'login' %}"><i class="bi bi-box-arrow-in-right"></i> Login</a></li>
                <li style="float:right"> <a href="{% url 'signup' %}"> Sign up</a></li>
                
            </ul>
        </div>
        
        {% if user.is_authenticated %}
            <p>Hi {{ user.username }}!</p>
            <p><a href="{% url 'logout' %}">Logout</p></a>
        {% else %}
        <p>You are not logged in.</p>
        {% endif %}
    </header>

    <ul>
        {% for blog in object_list %}
            <div class = 'post-entry'>
                <li>
                    <h2><a class = 'blog-title' href="{% url 'blog_detail' blog.pk %}">{{ blog.title }}</a></h2>
                    <p>{{ blog.body }}</p>
                </li>
            </div>
        {% endfor %}
    </ul>

    
{% endblock %}