<!-- templates/mb.html -->
{% extends 'base.html' %}

{% block fonts %}
{% endblock %}

{% block content %}
    <TItle>Forum</TItle>
    
    
    
        
    <a href="{% url 'home' %}"> HOME</a>
    <header>
        <h1>Blog</h1>
        <div class = 'nav-right'>
            <a href="{% url 'post_new' %}"> + New Blog Post</a>
        </div>
        
        {% if user.is_authenticated %}
            <p>Hi {{ user.username }}!</p>
            <p><a href="{% url 'logout' %}">Logout</p></a>
        {% else %}
        <p>You are not logged in.</p>
        <a href="{% url 'login' %}">Login</a>
        {% endif %}
    </header>

    <ul>
        {% for blog in object_list %}
            <div class = 'post-entry'>
                <li>
                    <h2><a href="{% url 'blog_detail' blog.pk %}">{{ blog.title }}</a></h2>
                    <p>{{ blog.body }}</p>
                </li>
            </div>
        {% endfor %}
    </ul>

    
{% endblock %}