<!-- templates/mb.html -->
{% extends 'base.html' %}

{% block fonts %}
{% endblock %}

{% block content %}
    <TItle>Forum</TItle>
    
    
        
    <a href="{% url 'home' %}"> HOME</a>
    <header>
        <h1>Blog</h1>
    </header>

    <ul>
        {% for blog in object_list %}
            <div class = 'post-entry'>
                <li>
                    <h2><a href="{% url 'blog_detail' blog.pk %}">{{ blog.title }}</a></h2>
                    <p>{{ blog.body }}</p>
                </li>
            </div>
        {% endfor %}
    </ul>
{% endblock %}