
    p{

        font-family: 'Roboto Mono', monospace;
        color: white;
        margin-left: 20px;
        
    }

    body {
        
        font-family: 'Roboto Mono', monospace;

    }

    header {
        background-image: url(../img/ellie.jpg);
        height: 100vh;
        width: 100vw;
        background-size: cover;
    }

    .navbar{
        position:absolute;
        padding: 50px;
        display: flex;
        justify-content: space-between;
        width: 100%;
        box-sizing: border-box;
        align-items: center;
    }

    .navbar ul li {
        transition: all 6. ease;
    }

    .navbar a{
        color: white;
        list-style-type: none;
        text-decoration: none;
    }

    .navbar .logo{
        font-size: 2em;
        font-weight: bold;
        font-family: 'Roboto Mono', monospace;
    }

    .navbar .nav-links  {
        display: flex;
        align-items: center;
        color: white;
        
    }

    .navbar .nav-links ul {
        display: flex;
        font-size: 1em;
        font-family: 'Oswald', sans-serif;
    }

    .navbar .nav-links ul li {
        margin: 0 30px;
        list-style-type: none;
        text-decoration: none;
        display: block;
        margin-top: 10px;
        
    }
   
    .navbar .nav-links ul li:hover, .navbar .nav-links ul li a:hover {
        color: red;
        transform: scale(1.07);
        transition: 0.6s;
    }


    .log_in_and_sign_up_block{
 
        width: 200px; /* Ширина слоя */
        margin: 10px; /* Значение отступов */
        padding: 20px; /* Поля вокруг текста */
        margin-top: 170px;
        background-color: transparent;
        box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
        border: 1px solid white; /* Параметры границы */
        border-radius: 10px;
        color: white;
        position:absolute;
        font-family: 'Roboto Mono', monospace;
        background-image: url(../img/darkellie.jpg);
        opacity: .7;
        margin-left: 70px;

    }

    .log_in_and_sign_up_block h2{
        font-family: 'Oswald', sans-serif;
    }

    .log_in_and_sign_up_block ul, .log_in_and_sign_up_block li {
        list-style-type: none;
        text-decoration: none;
        margin: 30px 0; 
        
    }
    
    .log_in_and_sign_up_block .login, .log_in_and_sign_up_block .signup{
        cursor: pointer;
        font-family: 'Days One', sans-serif;
        background-color: transparent;
        height: 50px;
        min-width: 160px;
        color: white;
        margin-top: 20px;;
        font-size: 20px;
        margin-right: 50px;
        border: 1px solid white;
        border-radius: 5px;
        

    }

    .log_in_and_sign_up_block .login:hover, .log_in_and_sign_up_block .signup:hover{
        color: red;
        background-color: #d38e4e;
    }

    .log_in_and_sign_up_block .login:focus, .log_in_and_sign_up_block .signup:focus{
        outline-color: transparent;
        outline-style:solid;
        box-shadow: 0 0 0 4px white

    }

    .login_block{
        width: 300px; /* Ширина слоя */
        margin: 7px; /* Значение отступов */
        padding: 20px; /* Поля вокруг текста */
        background-color: transparent;
        box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
        border: 2px solid white; /* Параметры границы */
        border-radius: 10px;
        color: white;
        position:absolute;
        margin: 10%;
        font-family: 'Roboto Mono', monospace;
        margin-bottom: 20px;
        margin-right: 20px;
        opacity: .7;

    }

  
   .login_block .loginbut{
        cursor: pointer;
        font-family: inherit;
        font-family: 'Days One', sans-serif;
        border: 2px solid white;
        border-radius: 10px;
        background-color: transparent;
        height: 30px;
        min-width: 100px;
        color: white;
        font-size: 1em;
        box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
        transition: 0.7s;
        margin-top: 20px;
        margin-left: 20px;
   }
   
   
    .login_block {
        color: white;
        background-image: url(../img/darkellie.jpg);
    }

    .sign_up_block {
        width: 800px; /* Ширина слоя */
        margin: 7px; /* Значение отступов */
        padding: 20px; /* Поля вокруг текста */
        background-color: transparent;
        box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
        border: 2px solid white; /* Параметры границы */
        border-radius: 10px;
        color: white;
        position:absolute;
        margin: 10%;
        background-image: url(../img/darkellie.jpg);
        opacity: .7;
        margin-top: 30px;
        
    }

    .sign_up_block h2{
        font-family: 'Roboto Mono', monospace;
    }

    .sign_up_block .signup2{
        cursor: pointer;
        font-family: inherit;
        font-family: 'Days One', sans-serif;
        border: 2px solid white;
        border-radius: 10px;
        background-color: transparent;
        height: 30px;
        min-width: 100px;
        color: white;
        font-size: 1em;
        box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
        margin-top: 20px;
        margin-left: 20px;
   }




    .usr {
        list-style-type: none;
        text-decoration: none;
        color: white;
        font-family: 'Roboto Mono', monospace;
        border: 1px solid white;
        box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
 
        
        
    }
    

    
    
    